# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/

# Firebase private key (VERY IMPORTANT - NEVER PUSH!)
backend/serviceAccountKey.json

# Environment variables (NEVER PUSH!)
.env
.env.local
*.env

# Node modules
node_modules/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build/dist
build/
dist/
